pnpm-lock.yaml
node_modules
dist
.next
packages/contracts/out
packages/contracts/cache
packages/contracts/broadcast
packages/contracts/deployments/.local

packages/contracts/lib
playwright-report
test-results
